<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutiset!</title>
    </head>
    <body>
        <a style ="padding-right: 4em;" href="/uutiset/kategoriat">Kategoriat</a>
        <a style ="padding-right: 4em;" href="/uutiset/luetuimmat">Luetuimmat</a>
        <a style ="padding-right: 4em;" href="/uutiset">Kaikki Uutiset</a><br/>

        <h2>Uutiset! </h2>


        <div>
            <ul> <li th:each="uutinen : ${uutiset}"> <a th:href="@{uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.nimi}" style="font-size: 24px;"></a>
                        <p> <span th:text="${uutinen.ingressi}"></span> </p>
                        <div th:if="${uutinen.kuva != null}">
                            <img th:src="@{/uutinen/{uutinenId}/kuva(uutinenId=${uutinen.id})}"/>
                        </div>
                        <br/>
                </li>
            </ul>
        </div>

        <a href="/uutinen/add">Lisää uutinen</a><br/>
        <a href="/uutiset/kirjoittajat">Lista kirjoittajista</a><br/>


    </body>

</html>