<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>

        <h2>Uutiset! </h2>

        <div>
            <ul>
               <li th:each="uutinen : ${uutiset}"> <a th:href="@{/uutinen/{uutinenId}(uutinenId=${uutinen.id})}" th:text="${uutinen.nimi + ', ' + uutinen.uutinenDate}"></a></li>
            </ul>
        </div>

        <a href="/uutinen/add">Lisää uutinen</a><br/>
        

    </body>

</html>